body {
    background-color: rgb(255, 0, 0);
    color: white;
}

.h1n1 {
    text-align: center;
}

.Lulis {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.Butao {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: 50px;
    background-color: rgb(126, 54, 54);
    color: white;
    text-align: center;
    line-height: 50px;
    text-decoration: none;
}

.container-central {
    display: flex;          
    justify-content: center; 
    align-items: center;     
    width: 70%;            
    margin-top: 70px;       
}

.letreiro-container {
    width: 100%;
    height: 60px;
    background: #ff0000;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
}

.letreiro {
    position: absolute;
    white-space: nowrap;
    color: #fff;
    font-size: 25px;
    font-weight: bold;
    left: 100vw; 
    animation: do-canto-ao-meio 7s linear infinite;
}

@keyframes do-canto-ao-meio {
    0% {
        left: 100vw; 
    }
    100% {
        left: 50%; 
        transform: translateX(-125%); 
    }
}