body {
    background-color: rgb(255, 0, 0);
    color: white;
}

.h1n1 {
    text-align: center;
}

.Lulis {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.Butao {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: 50px;
    background-color: rgb(126, 54, 54);
    color: white;
    text-align: center;
    line-height: 50px;
    text-decoration: none;
}

.container-central {
    display: flex;          
    justify-content: center; 
    align-items: center;     
    width: 70%;            
    margin-top: 70px;       
}

.letreiro-container {
    width: 100%;
    margin-left:
    overflow: hidden;
    background: #ff0000;
    color: #fff;
    padding: 10px 0;
}

.letreiro {
    display: inline-block;
    white-space: nowrap;
    padding-left: 100%; 
    animation: passar-ate-o-meio 5s linear infinite;
}

@keyframes passar-ate-o-meio {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-40%); 
    }
}